.index {
 .banner{
  width:10rem;
  .px2rem(height,251rem);
  overflow:hidden;
  .bannerImg{
   li{
    display:none;
    float: left;
    position: absolute;
    .px2rem(top,0rem);
    .px2rem(left,0rem);
    img{
     display: block;
    }
   }
  }
  .bannerSrc{
    .px2rem(width,140rem);
    .px2rem(height,20rem);
    .px2rem(bottom,15rem);
    .px2rem(left,320rem);
   z-index:5;
    li{
     float: left;
     .px2rem(width,15rem);
     .px2rem(height,15rem);
     .px2rem(margin-left,13rem);
     .px2rem(margin-right,13rem);
     border:2px solid #fff;
     .px2rem(border-radius,13rem);
     &.active{background-color: #fff;}
    }
   }
 }
 .big-nav{
  .px2rem(margin-top,10rem);
  .px2rem(padding-top,25rem);
  .px2rem(padding-bottom,25rem);
  width: 10rem;
  border-top: 1px solid #d0d2d4;
  border-bottom: 1px solid #d0d2d4;
  background: #fff;
  a{
   width: 32%;
   display: inline-block;
   text-align: center;
   span{
    .px4dpr(font-size,26px);
    color:#000333;
    display: block;
    .px2rem(padding-top,20rem);
   }
  }
 }
 /*���Ŷһ�*/
 .dfi-img{
  .px2rem(width,30rem);
  .px2rem(height,24rem);
  margin-bottom: 3px;
  .px2rem(padding-right,10rem);
 }
 .index-bigtit{
  background: #fbfbfb;
  color:#6c6c6c;
  border-bottom: 1px solid #d0d2d4;
  .px4dpr(font-size,32px);
  .px2rem(height,70rem);
  .px2rem(line-height,70rem);
  .px2rem(padding-left,20rem);
  .px2rem(padding-right,20rem);
  a{
   color:#3b84ed;
   .px4dpr(font-size,24px);
   float: right;
  }
 }
 .hot-exchange{
  border-top: 1px solid #d0d2d4;
  border-bottom: 1px solid #d0d2d4;
  .px2rem(margin-top,10rem);
  .content{
   background: #fff;
   a{width: 32.5%;display: inline-block}
   span{display: block;}
   ul{
    li{
     text-align: center;
     .px2rem(padding-top,20rem);
     .px2rem(padding-bottom,20rem);
     border-right: 1px solid #d0d2d4;
     .tit{
      display: block;
      .px4dpr(font-size,26px);
      color:#000333;
      .px2rem(padding-top,15rem);
      .px2rem(width,240rem);
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
     }
     .zuan {
      .px2rem(padding-top,15rem);
      b {
       .px4dpr(font-size,28px);
       color: #ffa619;
       font-weight:normal;
      }
     }
     .pro-img{
      .px2rem(width,170rem);
      .px2rem(height,170rem);
     }
    }
   }
  }
 }
 /*���½���*/
.new-trade{
 border-top: 1px solid #d0d2d4;
 border-bottom: 1px solid #d0d2d4;
 .px2rem(margin-top,10rem);
 .content{
  background: #fff;
  li{
   .px2rem(padding-top,20rem);
   .px2rem(padding-bottom,20rem);
   .px2rem(padding-left,20rem);
   .px2rem(padding-right,20rem);
   border-bottom: 1px solid #e8e8e8;
   .px2rem(height,75rem);
   .diamonds{
    width: 38%;
    float: left;
     .index-zuan{
      float: left;
      .px2rem(width,70rem);
      .px2rem(height,70rem);
     }
     .new-trade-riht-con{
      float: left;
      margin-top: -3px;
      .px2rem(padding-left,10rem);
      span{
       display: block;
       .px4dpr(font-size,20px);
       color:#444;
       text-align: left;
       b{
        .px4dpr(font-size,30px);
        .px2rem(padding-right,5rem);
        color:#ffa619;
       }
      }
      .name{
       .px2rem(padding-top,2rem);
       .px4dpr(font-size,22px);
      }
     }
   }
   .money{
    width: 36%;
    float: left;
    span{
     display: block;
     color:#444;
     .px4dpr(font-size,22px);
    }
     .money1{
      color:#e64545;
      .px4dpr(font-size,30px);
      .px2rem(padding-bottom,10rem);
     }
   }
   .time{
    color:#b2b2b2;height: 4em;
    line-height: 4em;
    overflow: hidden;
    text-align: center;
    width: 25%;
    float: left;
   }
  }
  li:active{
   background: #fafafa;
  }
 }
}
 .buy {
  border-bottom: none;
  .content {
   .px2rem(margin-bottom, 20rem);
   .diamonds {
    span{display: block;.px4dpr(font-size, 22px);color:#444;}
    .index-buy {
     b {
      .px4dpr(font-size, 26px);
      color: #ffa619;
     }
    }
   }
  }
 }
}