.xuaze{
  .px2rem(height,580rem);
  .px2rem(width,680rem);
  border-top: 1px solid #e6e6e6;
  background: #FFFFFF;
  margin: 0 auto;
  h2{
    .px2rem(width,670rem);
    margin: 0 auto;
    .px2rem(height,87rem);
    border-bottom: 1px solid #e6e6e6;
    .px2rem(text-indent,45rem);
    .px2rem(line-height,87rem);
    .px4dpr(font-size,32px);
  }
  .shulian{
    .px2rem(width,680rem);
    .px2rem(margin-top,28rem);
    .px2rem(margin-bottom,19rem);
    .px2rem(height,75rem);
    .px2rem(line-height,72rem);
    .px4dpr(font-size,28px);
    span{
      float: left;
      .px2rem(text-indent,67rem);
    }
    .kucun{
      color: #9e9e9e;
      float: none;
      .px2rem(margin-left,10rem);
    }
    .wan-spinner{
      .px2rem(width,350rem);
      float: left;
      border: 1px solid #bcbdbf;
      border-radius: 5px;
      .px2rem(height,75rem);
      .px2rem(margin-left,10rem);
      .px2rem(margin-right,5rem);
      .minus{
        .px2rem(width,73rem);
        .px2rem(height,72rem);
        float: left;
        background: #3b84ed;
        text-align: center;
        .px2rem(line-height,70rem);
        color: #FFFFFF;
        .px4dpr(font-size,50px);
        border-radius: 5px;

      }
      .plus{
        .px2rem(width,73rem);
        .px2rem(height,72rem);
        display: inline-block;
        float: left;
        background: #3b84ed;
        text-align: center;
        .px2rem(line-height,72rem);
        .px4dpr(font-size,50px);
        color: #FFFFFF;
        border-radius: 5px;

      }
      .wan-spinnera{
        .px2rem(width,200rem);
        .px2rem(height,70rem);
        border: none;
        text-align:center;
      }
      input{
        float: left;
        .px2rem(width,200rem);
        .px2rem(height,68rem);
        border: none;
        .px2rem(margin-top,5rem);
        text-align: center;
      }
    }
  }

  .hua{
    .px2rem(margin-left,67rem);
    .px4dpr(font-size,28px);
    .px2rem(line-height,50rem);
  }
  .qiushu{
    .px2rem(height,75rem);
    .px2rem(line-height,72rem);
    .px2rem(margin-left,67rem);
    .px4dpr(font-size,28px);

    input{
      .px2rem(width,350rem);
      .px2rem(height,72rem);
      .px2rem(margin-left,10rem);
      .px2rem(margin-right,5rem);
      border-radius: 5px;
      border-color: #bebebe;
      text-align: center;
    }
  }
  .wenben{
    .px2rem(width,550rem);
    .px4dpr(font-size,24px);
    color: #999999;
    .px2rem(line-height,38rem);
    margin: 0 auto;
    .px2rem(margin-top,57rem);
    .px2rem(margin-bottom,70rem);
  }
  .zhuya{
    display: inline-block;
    .px2rem(height,100rem);
    background: #2d64b3;
    .px2rem(width,680rem);
    text-align: center;
    .px2rem(line-height,100rem);
    color: #FFFFFF;
    .px4dpr(font-size,30px);
    border-radius: 5px;
  }
  .xuazs{
    .px2rem(line-height,57rem);
    .px2rem(margin-top,65rem);
    .px4dpr(font-size,24px);
    text-align: center;
    span{
      color: #ff9600;
    }
  }
}
.chenggong{
  height: 100%;
  background: #FFFFFF;
  margin: 0 auto;
  text-align: center;
.chahddd{
  float: right;
  .px2rem(margin-right,20rem);
  .px2rem(margin-top,20rem);
  .px2rem(width,36rem);
  .px2rem(height,36rem);
}
  .cha{
    .px2rem(width,85rem);
    .px2rem(height,85rem);
    .px2rem(margin-top,89rem);
    .px2rem(margin-bottom,13rem);
  }
  .xcehngg{
    .px2rem(height,94rem);
    .px2rem(line-height,94rem);
    font-weight:600;
    .px4dpr(font-size,30px);
  }
  .zuanshi{
    text-align: center;
    .px4dpr(font-size,26px);
    .px2rem(line-height,40rem);
    font-weight:600;
    img{
      .px2rem(width,30rem);
      .px2rem(height,24rem);
    }
  }
  .zongjia{
    text-align: center;
    .px2rem(line-height,43rem);
    font-weight:600;
    .px4dpr(font-size,30px);
    span{
      color: #e64545;
    }
  }
  .hui{
    text-align: center;
    .px2rem(line-height,110rem);
    .px4dpr(font-size,22px);
    color: #999999;
  }
  .shangpin{
    .px4dpr(font-size,26px);
    text-align: center;
    .px2rem(line-height,48rem);
    .px2rem(padding-top, 87rem);
    font-weight:400;
  }
  .dianhuala{
    .px2rem(line-height,52rem);
    color: #0449b1;
    .px4dpr(font-size,30px);
    text-align: center;
    font-weight:600;
    .px2rem(padding-bottom, 43rem);
  }
  .shoji{
    .px2rem(line-height,52rem);
    color: #333333;
    .px4dpr(font-size,20px);
    text-align: center;
    span{
      .px4dpr(font-size,32px);
      color: #5cbc67;
    }
  }
  .jilu{
    .px2rem(line-height,53rem);
    color: #999999;
    .px4dpr(font-size,22px);
    text-align: center;
  }
}
.chadetan{
  .px2rem(width,590rem);
  .px2rem(height,320rem);
  text-align: center;
  border-radius: 5px;
  background: #FFFFFF;
  .chaaaa{
    .px2rem(height,70rem);
    img{
      float: right;
      .px2rem(width,50rem);
      .px2rem(height,50rem);
      .px2rem(margin-right,26rem);
      .px2rem(margin-top,21rem);
    }

  }
  .daozhang{
    .px2rem(line-height,50rem);
    text-align: center;
    .px4dpr(font-size,30px);
    .px2rem(margin-top,20rem);

  }
  .zuanshi_cha{
    text-align: center;
    .px2rem(line-height,79rem);
    .px4dpr(font-size,26px);
    img{
      .px2rem(width,21rem);
      .px2rem(height,21rem);
      .px2rem(margin-right,10rem);
      .px2rem(margin-left,10rem);
    }

  }
  .huise{
    text-align: center;
    color: #999999;
    .px2rem(line-height,96rem);
    .px4dpr(font-size,20px);
  }
  .duia{
    .px2rem(margin-top,-20rem);
    .px2rem(margin-left,45rem);
  }
  .chengjiao{
    text-align: center;
    .px2rem(line-height,62rem);
    .px4dpr(font-size,30px);
    color:#333;
  }
  .yuibai{
    .px2rem(line-height,30rem);
    .px4dpr(font-size,20px);
    text-align: center;
    img{
      .px2rem(width,30rem);
      .px2rem(height,24rem);
      .px2rem(margin-left,5rem);
    }
  span{
    color: #e64545;
  }
  }
  .geremn{
    text-align: center;
    color:  #999999;
    .px2rem(margin-top,20rem);
    .px4dpr(font-size,18px);
  }
  .weiwancehng{
    text-align: center;
    color: #333333;
    .px4dpr(font-size,18px);
  }
  .huoqu{
    display:block;
    .px2rem(width,160rem);
    .px2rem(height,60rem);
    margin: 0 auto;
    .px2rem(line-height,60rem);
    text-align: center;
    background: #3b84ed;
    color: #ffffff;
    .px2rem(margin-top,20rem);
    border-radius: 5px;
    .px4dpr(font-size,22px);
  }
}
.chuna{
  .px2rem(width,620rem);
  .px2rem(height,320rem);
  border: 1px solid #e8e8e8;
  background: #ffffff;
  h2{
    .px2rem(height,70rem);
    border-bottom: 1px solid #e8e8e8;
    background: #f8f8f8;
    .px2rem(line-height,70rem);
    color: #000000;
    .chatou{
      float: right;
      .px2rem(width,50rem);
      .px2rem(height,50rem);
      .px2rem(margin-right,26rem);
      .px2rem(margin-top,10rem);
    }
    .span_h1{
      .px2rem(padding-left,35rem);
      .px2rem(padding-right,35rem);
      .px4dpr(font-size,32px);
    }
    .zhaug{
      .px4dpr(font-size,24px);
    }
  }
  .mai_yi{
    .px2rem(margin-top,16rem);
    text-align: center;
    .px4dpr(font-size,26px);
    .px2rem(line-height,43rem);
    color: #333333;
    span{
      font-weight:600;
    }
  }
  .maier{
    text-align: center;
    .px4dpr(font-size,22px);
    .px2rem(line-height,38rem);
    .px2rem(padding-bottom,28rem);
  }
  .maisan{
    .px2rem(padding-left,200rem);
    .px4dpr(font-size,18px);
    a{
      .px2rem(width,160rem);
      .px2rem(height,60rem);
      display: inline-block;
      text-align: center;
      background: #3b84ed;
      color: #FFFFFF;
      .px2rem(line-height,60rem);
      border-radius: 5px;
      .px4dpr(font-size,22px);

      .px2rem(margin-right,8rem);
    }
    span{
      color: #f20d0d;
    }
  }
  .mai_si{
    text-align: center;
    .px4dpr(font-size,22px);
    color: #999999;
    .px2rem(line-height,38rem);
    .px2rem(margin-top,10rem);
    span{
      color: #f20d0d;
    }

  }
.shulian_xin{
  .px2rem(margin-left,30rem);
  .px2rem(height,75rem);
  .px2rem(line-height,72rem);
  .px2rem(margin-top,19rem);
  position: relative;
  .px4dpr(font-size,26px);
  span{
    float: left;
    color:#666;
  }
  .wan-spinner{
    .px2rem(width,355rem);
    float: left;
    border: 1px solid #bebebe;
    .px2rem(margin-left,10rem);
    .px2rem(margin-right,10rem);
    .minus{
      .px2rem(width,73rem);
      .px2rem(height,72rem);
      display: inline-block;
      float: left;
      background: #9e9e9e;
      text-align: center;
      .px2rem(line-height,70rem);
      color: #FFFFFF;
      border-radius: 5px;
      .px4dpr(font-size,50px);
    }
    input{
      .px2rem(width,204rem);
      .px2rem(height,68rem);
      float: left;
      border: none;
      text-align: center;
      color: #2d64b3;
      .px4dpr(font-size,38px);
    }
    .plus{
      float: right;
      .px2rem(width,73rem);
      .px2rem(height,72rem);
      display: inline-block;
      background: #9e9e9e;
      text-align: center;
      .px2rem(line-height,72rem);
      color: #FFFFFF;
      border-radius: 5px;
      .px4dpr(font-size,50px);
    }
  }
  .kucun_xin{
    position: absolute;
    .px2rem(top,60rem);
    .px2rem(left,130rem);
    color: #9e9e9e;
    .px4dpr(font-size,22px);
  }
}
  .hua_xin{
    .px2rem(margin-left,30rem);
    .px2rem(height,55rem);
    .px2rem(line-height,55rem);
    .px2rem(margin-top,40rem);
    .px4dpr(font-size,26px);
    color:#666;
    span{
      color: #e64545;
      .px2rem(margin-left,18rem);
    }
  }
  .jiaoyi{
    .px2rem(margin-left,30rem);
    .px2rem(height,72rem);
    .px2rem(line-height,72rem);
    .px4dpr(font-size,26px);
    color:#666;
    input{
      .px2rem(width,350rem);
      .px2rem(height,72rem);
      border: 1px solid #bebebe;
      .px2rem(margin-right,10rem);
      .px2rem(margin-left,13rem);
      border-radius: 5px;
      text-align: center;
    }
  }
  .shezhi_xin{
    .px2rem(margin-left,133rem);
    .px2rem(line-height,60rem);
    .px4dpr(font-size,22px);
    a{
      color: #2d64b3;
    }
  }
  .kami_xin{
    .px2rem(margin-left,32rem);
    .px4dpr(font-size,22px);
    span{
      .px4dpr(font-size,30px);
      color: #5cbc67;
      .px2rem(margin-left,22rem);
    }
    a{
      .px2rem(margin-left,20rem);
      color: #2d64b3;
      .px4dpr(font-size,24px);
    }
  }
  .zhuya{
    display: inline-block;
    .px2rem(width,170rem);
    .px2rem(height,70rem);
    background: #3b84ed;
    color: #FFFFFF;
    text-align: center;
    .px2rem(line-height,70rem);
    .px2rem(margin-left,214rem);
    .px2rem(margin-top,30rem);
    border-radius: 5px;
    .px4dpr(font-size,26px);
  }
}
.addd{
  .px2rem(height,600rem);
  .sdd{
    .px2rem(margin-left,170rem);
    .px2rem(line-height,40rem);
    .px4dpr(font-size,24px);
    .px2rem(margin-top,20rem);
    color: #f20d0d;
  }
}
.gerenzho{
  .px2rem(width,590rem);
  .px2rem(height,320rem);
  border-radius: 5px;
  background: #FFFFFF;
  .geren{
   .px2rem(height,87px);
    .px2rem(line-height,87rem);
    span{
      float: left;
      .px2rem(margin-left,43rem);
      .px4dpr(font-size,26px);
    }
    img{
      float: right;
      .px2rem(padding-top,20rem);
      .px2rem(padding-right,20rem);
    }
  }
  .gerneyin{
    .px2rem(margin-left,43rem);
    .px2rem(width,500rem);
    input{
      .px2rem(width,500rem);
      .px2rem(height,60rem);
      .px2rem(padding-left,10rem);
      border-radius: 5px;
      border: 1px solid #bcbcbc;
      background: #fafafa;
      .px4dpr(font-size,24px);
    }
  }
  .yanzheng{
    .px2rem(margin-left,43rem);
    .px2rem(margin-top,15rem);
    .px2rem(margin-bottom,20rem);
    img{
      .px2rem(width,252rem);
      .px2rem(height,62rem);
      .px2rem(margin-right,53rem);
      border-radius: 5px;
    }
    a{
      .px2rem(line-height,62rem);
      .px4dpr(font-size,26px);
      color: #666666;
    }
  }
  .cheng{
    .px2rem(width,160rem);
    .px2rem(height,60rem);
    display: block;
    background: #3b84ed;
    color: #FFFFFF;
    .px4dpr(font-size,24px);
    text-align: center;
    margin: 20px auto;
    .px2rem(line-height,60rem);
    border-radius: 5px;
  }
}


//�¼�

.goumai_a{
  width: 100%;
  .px2rem(height,574rem);
  background: #FFFFFF;
  border-top: 1px solid #c2c2c2;
  .px2rem(margin-top,20rem);

  h2{
    .px2rem(height,78rem);
    border-bottom: 1px solid #e6e6e6;
    background: #f2f2f2;
    .px2rem(padding-left,25rem);
    .px2rem(line-height,78rem);
    .px4dpr(font-size,32px);
    color: #333333;
    span{
      float: left;
    }
    img{
      .px2rem(width,50rem);
      .px2rem(height,50rem);
      float:right;
      .px2rem(margin-top,15rem);
      .px2rem(margin-right,40rem);

    }
  }
  .heig{
    .px2rem(height,390rem);
    border-bottom: 1px solid #e6e6e6;
    .cuwu{
      .px2rem(height,64rem);
      .px2rem(line-height,64rem);
      .px2rem(margin-left,210rem);
      color: #f20d0d;
      .px4dpr(font-size,24px);
    }
    .kechu{
      .px2rem(margin-left,210rem);
      .px2rem(line-height,43rem);
      .px2rem(height,43rem);
      .px2rem(padding-top,14rem);
      span{
        color: #ff9600;
      }
    }
    .ul_wo{
      .px2rem(padding-left,65rem);
      .px4dpr(font-size,28px);
      color: #333333;
      li{
        .px2rem(line-height,72rem);
        input{
          .px2rem(width,327rem);
          .px2rem(height,72rem);
          .px2rem(padding-left,23rem);
          border-radius: 5px;
          .px2rem(margin-left,10rem);
          .px2rem(margin-right,10rem);
          border: 1px solid #c2c2c2;

        }
      }
      .sshuli{
        .px2rem(margin-bottom,19rem);
      }
    }
    .yiyuan{
      text-align: center;
      .px2rem(padding,8rem);
      .px2rem(line-height,52rem);
      .px4dpr(font-size,24px);
        span{
          color: #f20d0d;
        }
    }
    .shuoming{
        .px2rem(width,620rem);
      .px2rem(line-height,38rem);
      margin: 0 auto;
      .px4dpr(font-size,24px);
      color: #999999;
      span{
        color: #f20d0d;
      }
    }
  }
.zhifu{
  .px2rem(height,103rem);
  .px2rem(line-height,103rem);
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #FFFFFF;
  background: #3b84ed;
  .px4dpr(font-size,30px);
}
}
.duihao{
  .px2rem(margin-top,75rem);
  .px2rem(margin-bottom,24rem);
  text-align: center;
}
.tixian{
  .px4dpr(font-size,36px);
  font-weight: 600;
}










