.usercenter{
    background-color: #fff;
    a{text-decoration: none;border-radius: 5px;display: block;cursor: pointer;}
    .head-info{
        b.yellow{color:#ff9600;}
        b.blue{color:#3b84ed;}
        .px2rem(padding-top,50rem);
        .px2rem(padding-left,48rem);
        .px2rem(padding-bottom,25rem);
        border-bottom: 1px solid #ddd;
        img{
            .px2rem(width,160rem);
            .px2rem(height,160rem)
        }
        .redmind{
            display: inline-block;
            vertical-align: top;
            .px2rem(width,355rem);
            .px2rem(height,110rem);
            .px2rem(padding-left,30rem);
            .px2rem(margin-left,30rem);
            border-left: 1px solid #ddd;
            .px4dpr(font-size,24px);
            h2{
                .px4dpr(font-size,24px);
                .px2rem(margin-bottom,20rem);
                font-weight: bold;
            }
            div{
                img{
                    .px2rem(width,21rem);
                    .px2rem(height,21rem);
                    .px2rem(margin-left,25rem);
                    .px2rem(margin-right,10rem);
                    .px2rem(margin-bottom,15rem);
                    .px2rem(margin-top,10rem);
                }
                b{.px4dpr(font-size,26px);}
            }
            p{
                color:#b2b2b2;
                .px4dpr(font-size,22px);
                .px4dpr(line-height,35px);
            }
            a{
                .px4dpr(font-size,22px);
                .px2rem(right,0);
                .px2rem(bottom,5rem);
                .px2rem(width,90rem);
                .px2rem(line-height,38rem);
                text-align: center;
                color:#fff;
                background-color: #ff9600;
            }
        }
    }
    .user-list{
        padding:0;
        a{color:#6c6c6c}
        li{
            .px4dpr(line-height,119px);
            .px2rem(padding-left,48rem);
            .px2rem(padding-right,48rem);
            border-bottom: 1px solid #ddd;
            .px4dpr(font-size,30px);
            color:#6c6c6c;
            .yishezhi{
                color: #5cbc67;
            }
            b{
                color:#000;
                .px2rem(padding-left,90rem);
                text-align: center;
                font-weight: bold;
            }
            a.btn-a{
                .px2rem(top,32rem);
                .px2rem(right,30rem);
                .px2rem(width,130rem);
                .px2rem(line-height,55rem);
                color:#fff;
                background-color: #e64545;
                display: block;
                text-align: center;
            }
            span{
                float: right;
                color:#b8b8b8;
                .px4dpr(font-size,28px);
                .px4dpr(margin-right,50px);
                &.green{color:#5cbc67;}
            }
            a.more{
                float: right;
                display: inline-block;
                .px2rem(width,15rem);
                .px2rem(height,30rem);
                background: url("../../assest/images/user-row.png") no-repeat;
                background-size: cover;
                .px2rem(right,25rem);
                .px2rem(top,40rem);
            }
            .my-news{
                .px2rem(width,160rem);
                display: inline-block;
                b {
                    background: #fc6304;
                    border-radius: 8px;
                    color: #fff;
                    .px4dpr(font-size, 18px);
                    .px2rem(padding-left, 15rem);
                    .px2rem(padding-right, 15rem);
                    .px2rem(padding-top, 3rem);
                    .px2rem(padding-bottom, 5rem);
                    .px2rem(right,0rem);
                    .px2rem(top, 30rem);
                    line-height: normal;
                }
            }
        }
    }
    .bindding{
        .error-message{
            position: absolute;
            .px2rem(top,0rem);
            .px2rem(left,0rem);
            .px2rem(width,720rem);
            .px2rem(line-height,60rem);
            text-align: left;
            .px2rem(padding-left,30rem);
            background: rgba(0,0,0,0.66);
            color:#fff;
            .px4dpr(font-size,24px);
        }
        .px2rem(padding-top,80rem);
        text-align: center;
        img.state{
            .px2rem(width,112rem);
            .px2rem(height,112rem);
            .px2rem(margin-bottom,70rem);
        }
        p,.title{color:#666;}
        .title{ .px4dpr(font-size,28px);}
        h1{
            font-weight: bold;
            .px4dpr(font-size,46px);
            .px2rem(margin-top,66rem);
            .px2rem(margin-bottom,67rem);
            color:#5cbc67;
        }
        p{
            .px4dpr(font-size,24px);
            .px2rem(margin-left,67rem);
            .px2rem(margin-right,67rem);
            text-align: left;
            .px2rem(line-height,35rem);
        }
        a{
            border:1px solid #999;
            color:#fff;
            background-color: #3b84ed;
            .px4dpr(font-size,30px);
            text-align: center;
            margin:70px auto 0;
            &.look{
                .px2rem(width,270rem);
                .px2rem(line-height,90rem);
            }
            &.bind-btn{
                .px2rem(width,390rem);
                .px2rem(line-height,80rem);
            }
            &.change{
                color:#3b84ed;
                text-decoration: underline;
                background-color: #fff;
                border:none;
                .px2rem(margin-bottom,70rem);
            }
        }
        .bind-t{
            .px2rem(padding-left,30rem);
            .px2rem(width,590rem);
            .px2rem(line-height,40rem);
            text-align: left;
            color:#3d3d3d;
            .edu-pad{
                color:#4c4c4c;
                .px4dpr(font-size,30px);
            }
        }
        form{
            .px2rem(margin-top,30rem);
            .px2rem(padding-left,30rem);
            text-align: left;
            .form-box{
                .px2rem(margin-bottom,40rem);
                a,img{
                    display: inline-block;
                    .px2rem(width,285rem);
                    .px2rem(height,79rem);
                    .px2rem(line-height,79rem);
                    vertical-align: top;
                    background-color: #87909c;
                    border-radius: 5px;
                }
                a{
                    .px2rem(margin-top,0);
                    .px2rem(margin-left,-6rem);
                }
            }
            .form-box-pad{
                background-color: #fafafa;
                border:1px solid #bcbcbc;
                .px2rem(line-height,79rem);
                .px2rem(padding-left,10rem);
                .px4dpr(font-size,26px);
                border-radius: 5px;
                .px2rem(width,680rem);
                color:#333;
                input[type="password"]{
                    border:none;
                    background: none;
                    .px2rem(width,405rem);
                }
            }
            input{
                background-color: #fafafa;
                border:1px solid #bcbcbc;
                .px2rem(width,684rem);
                .px2rem(line-height,79rem);
                .px2rem(padding-left,10rem);
                .px4dpr(font-size,26px);
                border-radius: 5px;
            }
            input[type="password"],.code{
                .px2rem(width,385rem);
                .px2rem(margin-right,15rem);
            }
        }
    }
    .tab-list{
        background-color: #f7f9fc;
        .px2rem(height,98rem);
        .px2rem(padding-left,22rem);
        .px2rem(padding-right,22rem);
        border-bottom: 1px solid #ddd;
        .px4dpr(font-size,28px);
        .px2rem(width,706rem);
        li{
            width:33%;
            float: left;
            text-align: center;
            a{
                .px2rem(line-height,90rem);
                .px2rem(padding,2rem);
                color:#333;
                border-radius: 0;
            }
            &.active{
                border-bottom: 4px solid #3b84ed;
                a{color:#3b84ed;}
            }
        }
    }
    .tab-con{
        span.yellow{color:#ff9600;}
        span.red{color:#e64545;}
        background-color: #fff;
        .px2rem(margin-bottom,10rem);
        li{
            .px2rem(height,100rem);
            .px2rem(line-height,45rem);
            .px4dpr(font-size,26px);
            .px2rem(padding-top,15rem);
            .px2rem(padding-right,20rem);
            .px2rem(padding-left,20rem);
            color:#7a7c80;
            border-bottom:1px solid #ddd;
            &.active{background-color: #fbfbfb;}
            p{
                &.time{
                    .px4dpr(font-size,18px);
                    color:#b0b2b5;
                }
            }
        }
    }
    .trader-paw-ok{
        color:#4c4c4c;
        .px4dpr(font-size,36px);
        .px2rem(width,750rem);
        text-align: center;
        span{
            display: block;
            .px2rem(line-height,60rem);
        }
    }
    .record{
        height:100%;
        background-color: #ebedf0;
        .px2rem(width, 750rem);
        .hint {
            text-align: center;
            .px2rem(padding-top, 125rem);
            img {
                .px2rem(width, 409rem);
                .px2rem(height, 270rem);

            }
            p {
                .px4dpr(font-size, 28px);
                color: #aeb2b6;
                .px2rem(margin-top, 75rem);
            }
        }
        /*���ּ�¼*/
        .cash-list{
            background: #fff;
            float: left;
            ul{
                li{
                    width: 100%;
                    float: left;
                    .px2rem(padding-top,20rem);
                    .px4dpr(font-size, 26px);
                    .px2rem(padding-left,22rem);
                    .px2rem(padding-right,22rem);
                    .px2rem(width,706rem);
                    .px2rem(height,115rem);
                    .px2rem(line-height,115rem);
                    text-align: center;
                    border-bottom: 1px solid #dddddd;
                    .lis{
                        float: left;width: 33%;
                        span{display: block;}
                    }
                    .cash-time{
                        color: #7a7c80;
                        .px2rem(line-height,42rem);
                        .px2rem(padding-top,15rem);
                        .time{
                            .px4dpr(font-size, 18px);
                            color:#b0b2b5;
                        }
                    }
                    .zuan-num{color:#e64545;}


                }
            }
        }
    }
}
/*�ҵ���Ϣ�б�*/
.account-news {
    .my-news-list {
        .px2rem(margin-bottom, 70rem);
        .px2rem(margin-top, 35rem);
        .px2rem(margin-left, 20rem);
        .px2rem(margin-right, 20rem);
        .px2rem(width, 710rem);
        .my-news-list-con {
            border: 1px solid #dddddd;
            border-radius: 5px;
            background: #fff;
            color: #505358;
            .px4dpr(font-size, 26px);
            .px2rem(padding-top, 30rem);
            .px2rem(padding-bottom, 30rem);
            .pad-lf-rt {
                .px2rem(padding-left, 20rem);
                .px2rem(padding-right, 20rem);
            }
            .tit {
                color: #262626;
                .px4dpr(font-size, 36px);
                .px2rem(padding-bottom, 40rem);
                .pad-lf-rt;
            }
            .desc {
                .pad-lf-rt;
                .px2rem(padding-bottom, 30rem);
                .px4dpr(font-size, 26px);
            }
            .more {
                border-top: 1px solid #dddddd;
                .px2rem(width, 668rem);
                .px2rem(padding-left, 20rem);
                .px2rem(padding-right, 20rem);
                .px2rem(padding-top, 25rem);
                display: block;
                color: #080808;
                .px4dpr(font-size, 28px);
                img {
                    float: right;
                    .px2rem(margin-top,5rem);
                    .px2rem(width,15rem);
                    .px2rem(height,30rem);
                }
            }
        }
        .time{
            text-align: center;
            background: #bcbec0;
            .px2rem(width, 320rem);
            .px2rem(height, 50rem);
            .px2rem(line-height, 50rem);
            color:#fff;
            border-radius: 5px;
            margin:0 auto;
            .px2rem(margin-top,20rem);
        }
    }
    /*�ҵ���Ϣ����*/
    .my-news-info{
        background: #fff;
        .px2rem(padding-top,50rem);
        .px2rem(padding-bottom,50rem);
        .px2rem(padding-left,50rem);
        .px2rem(padding-right,50rem);
        .px2rem(width,650rem);
        text-align: center;
        .tit{
            .px4dpr(font-size,36px);
            color:#262626;
        }
        .time{
            color:#bcbec0;
            .px4dpr(font-size, 22px);
            .px2rem(padding-top,30rem);
            .px2rem(padding-bottom,30rem);
        }
        .con{
            text-align: left;
            p{
                color:#696969;
                .px4dpr(font-size, 28px);
                .px2rem(padding-bottom,30rem);
            }
        }
    }
}
/*������������ҳ��*/
.account-cash{
    .px2rem(margin-top,30rem);
    .px2rem(margin-bottom,30rem);
    .px2rem(margin-left,20rem);
    .px2rem(margin-right,20rem);
    .px2rem(width,710rem);
    .content{
        border: 1px solid #dddddd;
        border-radius: 5px;
        background: #fff;
        .top{
            .px2rem(padding-top,40rem);
            .px2rem(padding-bottom,40rem);
            .px2rem(padding-left,40rem);
            .px2rem(padding-right,40rem);
            color:#333;
            .px4dpr(font-size, 32px);
            border-bottom: 1px solid #dddddd;
            span{
                .px4dpr(font-size, 24px);
                float: right;
                color:#999;
                .px2rem(padding-top,6rem);
                i{
                    color:#e64545;
                    .px2rem(padding-right,5rem);
                }
            }
        }
        .con{
            .px4dpr(font-size, 28px);
            text-align: center;
            .px2rem(padding-top,20rem);
            .px2rem(padding-bottom,40rem);
            .px2rem(padding-left,40rem);
            .px2rem(padding-right,40rem);
            color:#333;
            i{
                color:#e64545;
                .px4dpr(font-size, 24px);
            }
            ul{
                li{
                    text-align: left;
                    .px2rem(padding-top,25rem);
                    .px2rem(line-height,69rem);
                    .tit{
                        .px2rem(padding-right,15rem);
                        .px2rem(width,140rem);
                        text-align: right;
                        float: left;
                    }
                    .cash-ipt {
                        .px2rem(height, 69rem);
                        .px2rem(line-height, 69rem);
                        .px2rem(width, 350rem);
                        display: inline-block;
                        border: 1px solid #ddd;
                        border-radius: 5px;
                        .px2rem(height, 69rem);
                        .px2rem(width, 340rem);
                        .money-icon{float: left;.px4dpr(font-size, 36px);}
                        input{
                            border: none;
                            .px2rem(width, 255rem);
                            height: initial;
                            .px2rem(margin-top,-7rem);
                        }
                    }
                    input {
                        border: 1px solid #ddd;
                        border-radius: 5px;
                        .px2rem(height, 69rem);
                        .px2rem(width, 350rem);
                        color: #333;
                        .px4dpr(font-size, 36px);
                    }
                    .ipt-close {
                        float: right;
                        .px2rem(padding-right, 10rem);
                        .px2rem(margin-top,-5rem);
                        img {
                            .px2rem(width, 30rem);
                            .px2rem(height, 30rem);
                        }
                    }
                    a {
                        float: right;
                        color: #3b84ed;
                        .px4dpr(font-size, 24px);
                        text-decoration: underline;
                    }
                }
            }
            .cash-ts{
                .px4dpr(font-size, 24px);
                color:#999;
                .px2rem(padding-top,20rem);
                .px2rem(padding-left,150rem);
                text-align: left;
                display:block;
            }
        }
    }
    .cash-but{
        .px2rem(height,100rem);
        .px2rem(line-height,100rem);
        .px4dpr(font-size,30px);
        color:#fff;
        background: #3b84ed;
        text-align: center;
        display: block;
        .px2rem(margin-top,50rem);
        border-radius: 5px;
    }
}